---
extends: default

ignore: |
  .cache/
  kustomization.yaml
  awx-resource-operator.clusterserviceversion.yaml
  bundle
  config/testing/kustomization.yaml

rules:
  truthy: disable
  line-length:
    max: 170
  document-start: disable
  comments-indentation: disable
  indentation:
    level: warning
    indent-sequences: consistent
