- name: Launch a workflow, if error update AnsibleJob status then end play
  block:
    - name: Launch workflow
      awx.awx.workflow_launch:
        name: "{{ lookup('env','TOWER_WORKFLOW_TEMPLATE_NAME') }}"
        extra_vars: "{{ ansible_job['resources'][0]['spec']['extra_vars'] | default(omit) }}"
        inventory: "{{ ansible_job['resources'][0]['spec']['inventory'] | default(omit) }}"
      register: job
  rescue:
    - name: Update status if job resulted in an error
      k8s_status:
        api_version: tower.ansible.com/v1alpha1
        kind: AnsibleJob
        name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
        namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
        status:
          ansibleJobResult:
            status: "error"
    - name: End playbook run
      meta: end_play

- name: Update AnsibleJob definition with Tower workflow id
  k8s:
    state: present
    definition:
      kind: AnsibleJob
      apiVersion: tower.ansible.com/v1alpha1
      metadata:
        name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
        namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
        labels:
          tower_job_id: "{{ job.id }}"

- name: Update AnsibleJob status with Tower workflow status and url
  k8s_status:
    api_version: tower.ansible.com/v1alpha1
    kind: AnsibleJob
    name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
    namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
    status:
      ansibleJobResult:
        changed: "{{ job.changed }}"
        failed: "{{ job.failed }}"
        status: "{{ job.status }}"
        url: "{{ lookup('env', 'TOWER_HOST') + '/#/jobs/workflow/' + (job.id|string) }}"

- name: Wait for the tower workflow, if error update AnsibleJob status then end play
  block:
    - name: Register Job result when complete
      awx.awx.tower_job_wait:
        job_id: "{{ job.id }}"
        job_type: workflow_jobs
      register: job_result
  rescue:
    - name: Update status if job results in an error
      k8s_status:
        api_version: tower.ansible.com/v1alpha1
        kind: AnsibleJob
        name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
        namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
        status:
          ansibleJobResult:
            status: "error"
    - name: End playbook run
      meta: end_play
