---

- name: Read AnsibleJob Specs
  k8s_info:
    kind: AnsibleJob
    api_version: tower.ansible.com/v1alpha1
    name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
    namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
  register: ansible_job

- name: Launch a job
  include_tasks: launch_job.yml
  when: lookup('env','TOWER_JOB_TEMPLATE_NAME') is defined

- name: Launch Workflow
  include_tasks: launch_workflow.yml
  when: lookup('env','TOWER_WORKFLOW_TEMPLATE_NAME') is defined

- name: Update AnsibleJob status with Tower job result
  k8s_status:
    api_version: tower.ansible.com/v1alpha1
    kind: AnsibleJob
    name: "{{ lookup('env', 'ANSIBLEJOB_NAME') }}"
    namespace: "{{ lookup('env', 'ANSIBLEJOB_NAMESPACE') }}"
    status:
      ansibleJobResult:
        elapsed: "{{ job_result.elapsed }}"
        finished: "{{ job_result.finished }}"
        started: "{{ job_result.started }}"
        status: "{{ job_result.status }}"
