---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: host
            - name: CREDENTIAL_NAME
              value: "{{ credential_name }}"
            - name: CREDENTIAL_ORGANIZATION
              value: "{{ credential_organization }}"
            - name: CREDENTIAL_DESCRIPTION
              value: "{{ credential_description }}"
            - name: CREDENTIAL_TYPE
              value: "{{ credential_type }}"
{% if ssh_secret is defined and ssh_secret != "" %}
            - name: SSH_SECRET
              valueFrom:
                secretKeyRef:
                  name: "{{ ssh_secret }}"
                  key: id_rsa
{% endif %}
{% if ssh_username is defined and ssh_username != "" %}
            - name: SSH_USERNAME
              value: "{{ ssh_username }}"
{% endif %}
{% if kubernetes_bearer_secret is defined and kubernetes_bearer_secret != "" %}
            - name: KUBERNETES_API
              value: "{{ kubernetes_api }}"
            - name: KUBERNETES_BEARER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ kubernetes_bearer_secret }}"
                  key: token
{% endif %}
{% if credential_inputs is defined and credential_inputs != "" %}
            - name: CREDENTIAL_INPUTS
              value: "{{ credential_inputs }}"
{% endif %}
{% if username_secret is defined and username_secret != "" %}
            - name: USERNAME_SECRET
              valueFrom:
                secretKeyRef:
                  name: "{{ username_secret }}"
                  key: username
{% endif %}
{% if token_secret is defined and token_secret != "" %}
            - name: TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: "{{ token_secret }}"
                  key: token
{% endif %}
{% if password_secret is defined and password_secret != "" %}
            - name: PASSWORD_SECRET
              valueFrom:
                secretKeyRef:
                  name: "{{ password_secret }}"
                  key: password
{% endif %}
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLECREDENTIAL_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLECREDENTIAL_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
