---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: host
            - name: CREDENTIAL_NAME
              value: "{{ credential_name }}"
            - name: CREDENTIAL_ORGANIZATION
              value: "{{ credential_organization }}"
            - name: CREDENTIAL_DESCRIPTION
              value: "{{ credential_description }}"
            - name: CREDENTIAL_TYPE
              value: "{{ credential_type }}"
            - name: CREDENTIAL_INPUTS
              value: "{{ credential_inputs }}"
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLECREDENTIAL_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLECREDENTIAL_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
