---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
{% if tower_auth_secret is defined and tower_auth_secret != "" %}
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: host
{% endif %}
{% if connection_secret is defined and connection_secret != "" %}
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: host
{% endif %}
{% if job_template_name is defined and job_template_name != "" %}
            - name: TOWER_JOB_TEMPLATE_NAME
              value: "{{ job_template_name }}"
{% endif %}
{% if workflow_template_name is defined and workflow_template_name != "" %}
            - name: TOWER_WORKFLOW_TEMPLATE_NAME
              value: "{{ workflow_template_name }}"
{% endif %}
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLEJOB_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLEJOB_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}