kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: tower-resource-operator
subjects:
- kind: ServiceAccount
  name: tower-resource-operator
  namespace: tower-operator
roleRef:
  kind: Role
  name: tower-resource-operator
  apiGroup: rbac.authorization.k8s.io
