---
apiVersion: v1
kind: Namespace
metadata:
  name: tower-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: tower-resource-operator
rules:
- apiGroups:
  - ""
  - rbac.authorization.k8s.io
  resources:
  - pods
  - serviceaccounts
  - roles
  - rolebindings
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - tower-resource-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods
  - jobs
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  - jobs
  verbs:
  - get
- apiGroups:
  - tower.ansible.com
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: tower-resource-operator
subjects:
- kind: ServiceAccount
  name: tower-resource-operator
  namespace: default
roleRef:
  kind: Role
  name: tower-resource-operator
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tower-resource-operator

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tower-resource-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: tower-resource-operator
  template:
    metadata:
      labels:
        name: tower-resource-operator
    spec:
      serviceAccountName: tower-resource-operator
      containers:
        - name: tower-resource-operator
          # Replace this with the built image name
          image: "quay.io/open-cluster-management/platform-resource-operator:latest"
          imagePullPolicy: "Always"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "tower-resource-operator"
            - name: ANSIBLE_GATHERING
              value: explicit
            - name: ANSIBLE_DEBUG_LOGS
              value: "True"
            - name: RELATED_IMAGE_ANSIBLE_JOB_RUNNER_IMAGE
              # Replace this with the job runner built image name
              value: "quay.io/open-cluster-management/platform-resource-runner:latest"
      volumes:
        - name: runner
          emptyDir: {}

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: jobtemplates.tower.ansible.com
spec:
  group: tower.ansible.com
  names:
    kind: JobTemplate
    listKind: JobTemplateList
    plural: jobtemplates
    singular: jobtemplate
  scope: Namespaced
  subresources:
    status: {}
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        description: Schema validation for the Tower Job Template CRD
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              job_template_inventory:
                type: string
              job_template_name:
                type: string
              job_template_playbook:
                type: string
              job_template_project:
                type: string
              tower_auth_secret:
                type: string
            required:
            - tower_auth_secret
            type: object
        type: object
        x-kubernetes-preserve-unknown-fields: true
  version: v1alpha1


---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ansiblejobs.tower.ansible.com
spec:
  group: tower.ansible.com
  names:
    kind: AnsibleJob
    listKind: AnsibleJobList
    plural: ansiblejobs
    singular: ansiblejob
  scope: Namespaced
  subresources:
    status: {}
  versions:
  - name: v1alpha1
    served: true
    storage: true

    schema:
      openAPIV3Schema:
        description: Schema validation for the Tower Job Launch CRD
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              extra_vars:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              inventory:
                type: string
              job_template_name:
                type: string
              tower_auth_secret:
                type: string
            required:
            - tower_auth_secret
            - job_template_name
            type: object
        type: object
        x-kubernetes-preserve-unknown-fields: true
  version: v1alpha1
