---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              value: "{{ tower_config_secret['resources'][0]['data']['token'] | b64decode }}"
            - name: TOWER_HOST
              value: "{{ tower_config_secret['resources'][0]['data']['host'] | b64decode }}"
            - name: PROJECT_NAME
              value: "{{ project_name }}"
            - name: PROJECT_ORGANIZATION
              value: "{{ project_organization }}"
            - name: PROJECT_DESCRIPTION
              value: "{{ project_description }}"
            - name: PROJECT_REPO
              value: "{{ project_repo }}"
            - name: PROJECT_BRANCH
              value: "{{ project_branch }}"
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLEPROJECT_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLEPROJECT_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
