---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: host
            - name: NAME
              value: "{{ name }}"
            - name: ORGANIZATION
              value: "{{ organization }}"
{% if description is defined and description != "" %}
            - name: DESCRIPTION
              value: "{{ description }}"
{% endif %}
            - name: SCM_TYPE
              value: "{{ scm_type }}"
{% if scm_credential is defined and scm_credential != "" %}
            - name: SCM_CREDENTIAL
              value: "{{ scm_credential }}"
{% endif %}
{% if repo is defined and repo != "" %}
            - name: REPO
              value: "{{ repo }}"
{% endif %}
{% if branch is defined and branch != "" %}
            - name: BRANCH
              value: "{{ branch }}"
{% endif %}
{%if state is defined and state != "" %}
            - name: STATE
              value: "{{ state }}"
{% else %}
            - name: STATE
              value: "present"
{% endif %}
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLEPROJECT_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLEPROJECT_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
