---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: host
            - name: NAME
              value: "{{ name }}"
{% if state is defined and state != "" %}
            - name: STATE
              value: "{{ state }}"
{% else %}
            - name: STATE
              value: "present"
{% endif %}
{% if credential_name is defined and credential_name != "" %}
            - name: CREDENTIAL_NAME
              value: "{{ credential_name }}"
{% endif %}
            - name: IS_CONTAINER_GROUP
              value: "{{ is_container_group }}"
{% if max_concurrent_jobs is defined and max_concurrent_jobs != "" %}
            - name: MAX_CONCURRENT_JOBS
              value: "{{ max_concurrent_jobs }}"
{% endif %}
{% if max_forks is defined and max_forks != "" %}
            - name: MAX_FORKS
              value: "{{ max_forks }}"
{% endif %}
{% if pod_spec_override is defined and pod_spec_override != "" %}
            - name: POD_SPEC_OVERRIDE
              value: "{{ pod_spec_override }}"
{% endif %}
{% if policy_instance_percentage is defined and policy_instance_percentage != "" %}
            - name: POLICY_INSTANCE_PERCENTAGE
              value: "{{ policy_instance_percentage }}"
{% endif %}
{% if policy_instance_minimum is defined and policy_instance_minimum != "" %}
            - name: POLICY_INSTANCE_MINIMUM
              value: "{{ policy_instance_minimum }}"
{% endif %}
{% if instance_list is defined and instance_list != "" %}
            - name: INSTANCE_LIST
              value: "{{ instance_list }}"
{% endif %}
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLEINSTANCEGROUP_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLEINSTANCEGROUP_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
