---
# tasks file for jobtemplate

# - name: Show all vars
#   debug:
#     msg: "{{ vars }}"

- name: Read Secret Configuration
  k8s_info:
    kind: Secret
    namespace: '{{ meta.namespace }}'
    name: "{{ tower_auth_secret }}"
  register: tower_config_secret

- name: Validate Secret Exists
  assert:
    that:
      - tower_config_secret["resources"] is defined and (tower_config_secret["resources"]|length>0)
    fail_msg: "Tower Secret must exists"

- name: Get Job Info
  k8s_info:
    api_version: batch/v1
    kind: Job
    name: "{{ meta.name }}"
    namespace: "{{ meta.namespace }}"
  register: job_information_output

- name: Debug Job Information
  debug:
    var: job_information_output

- name: Start K8s Runner Job
  k8s:
    state: present
    definition: "{{ lookup('template', 'job_definition.yml') }}"
