---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ tower_auth_secret }}"
                  key: host
            - name: SCHEDULE_NAME
              value: "{{ schedule_name }}"
            - name: SCHEDULE_RRULE
              value: "{{ schedule_rrule }}"
            - name: SCHEDULE_UNIFIED_JOB_TEMPLATE
              value: "{{ schedule_unified_job_template }}"
            - name: TOWER_VERIFY_SSL
              value: "False"
            - name: ANSIBLESCHEDULE_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLESCHEDULE_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
