---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ttlSecondsAfterFinished: {{ job_ttl }}
  template:
    spec:
      serviceAccountName: resource-operator-controller-manager-job
      containers:
        - name: "{{ ansible_operator_meta.name }}"
          image: "{{ _runner_image }}"
          imagePullPolicy: "{{ _runner_pull_policy }}"
          env:
            - name: TOWER_OAUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: token
            - name: TOWER_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ connection_secret }}"
                  key: host
            - name: NAME
              value: "{{ name }}"
            - name: RRULE
              value: "{{ rrule }}"
            - name: UNIFIED_JOB_TEMPLATE
              value: "{{ unified_job_template }}"
            - name: TOWER_VERIFY_SSL
              value: "False"
{%if state is defined and state != "" %}
            - name: STATE
              value: "{{ state }}"
{% else %}
            - name: STATE
              value: "present"
{% endif %}
            - name: ANSIBLESCHEDULE_NAME
              value: "{{ ansible_operator_meta.name }}"
            - name: ANSIBLESCHEDULE_NAMESPACE
              value: "{{ ansible_operator_meta.namespace }}"
      restartPolicy: Never
  backoffLimit: {{ backoff_limit }}
